<?xml version="1.0"?>
<launch>

	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="mqs_joy">
	<param name="dev" type="string" value="/dev/input/js0" />
	<param name="deadzone" value="0.1" />
	<param name="default_trig_val" type="bool" value="true" />
	<param name="dev_ff" type="string" value="/dev/input/event19" />
	</node>

	<!-- MQS Teleop Node-->
	<node pkg="xbox" type="mqs_teleop" name="teleop"/>

	<param name="scale_steer_marine" value="127" type="int" />
	<param name="scale_reverse" value="64" type="int" />
	<param name="scale_steer_land" value="127" type="int" />
	<param name="scale_throttle" value="127" type="int" /> <!-- use this to modify max throttle; 10%=25 20%=50 25%=64 30%=77 40%=102(default) 50%=128 60%=153 70%=179 75%=191 80%=204 90%=230 100%=255-->
	<param name="forward_limit" value ="140" type="int" /> <!-- use this to modify max forward throttle crawl = 140(default)-->
	<param name="scale_forward" value="-64" type="int" />
	
	<param name="shift_steer_marine" value="127" type="int"/>
	<param name="shift_reverse" value="64" type="int"/>
	<param name="shift_steer_land" value="127" type="int"/>
	<param name="shift_throttle" value="0" type="int"/>
	<param name="shift_forward" value="191" type="int"/>

	<!-- MQS TELEOP FEEDBACK -->
	<node pkg="xbox" type="mqs_teleop_feedback" name="mqs_teleop_feedback"/>
	<param name="force_feedback" value = "75" type="double"/> <!-- Set between 0% and 100% for force feedback-->

	<!-- Xbee Node -->
	<node pkg="xbee" type="mqs_xbee.py" name="mqs_xbee" />

	<!-- auto Parameters -->
	
	<!-- Mission Time -->
	<param name="MET" value="10" type="double" /> <!--time duration of the mission elapsed time-->


	<!-- maneuver Node -->
	<node pkg="xbee" type="mqs_maneuver_from_script.py" name="mqs_maneuver_from_script"/>
    

	<!-- handshake Node -->
	<node pkg="xbee" type="mqs_handshake" name="handshake" />

	<!-- mqs_rw_csv_script Node -->
	<node pkg="xbee" type="mqs_rw_csv_script.py" name="mqs_rw_csv_script" />
    <!-- Script Path -->
	<param name ="script_path" value="/home/lab/Desktop/ROS_Scripts/Test01.csv" type="string"/> <!-- Points to Maneuver scripting file -->
	<!-- Wheel Retraction -->
	<param name="auto_wheels_up_time" value="-1" type="double" /> <!--time when wheel retraction is activated; -1 to turn off-->

</launch>
